---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify" style="margin-bottom: 10px;">
    <p> Intermediate knowledge of Windows client and server operating systems, Linux, Network Technology, Switching and Routing, Office package and OpenOffice, Creation of a Website and CMS Management, Design Theory, Performance Methodologies and SEO optimization. </p>
    <p> Configuration and Installation of servers (Implementation of backup copies, RAID, DHCP, DNS, WSUS, Remote Access, Company Active Directory Management, Management of users and permissions, Web Server and Business Cloud, File Server, NFS, SMB). </p>
    <p> Vmware Virtualization (Farm Manager, Creation and Installation of servers virtual servers, Migration from physical to virtual servers, Resource allocation, Server management ESX/ESXi, Monitoring and Backups). </p>
    <p> Security (Antivirus Solution Management including Kaspersky EndPoint Security and other brands products, Access to shared resources and applications, Management and Monitoring software, Planning and Implementation of strategies to ensure information, Audits of IT security processes, Supervision and Monitoring of the use of information inside and outside the organization, Analysis and detection of threats of security and development of prevention techniques, knowledge and interpretation of regulations of response centers to security incidents, Creation and development of security projects information and communication security, incident management and malware analysis). </p>
    <p> Mobility (Configuration of Smartphones, Iphone, Ipad, tablets). </p>
    <p> Communications and Networks (Monitoring and administration of wired and wireless network, antennas, switching, networking, firewalls; LAN, WAN, MPLS, VPN, TCP/IP, FTP, Frame Relay). </p>
    <p> User support (TeamViewer, Anydesk, Remote Desktop, Generating registrations and cancellations, Resolution of hardware and software incidents Layers 1 and 2 on-site and remote; Hardware and software configuration and commissioning, inventory maintenance, review documentation of processes and tasks). </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="IT Technician"
      subtitle="2006 to 2009 at Osvaldo Herrera Technical High School, La Habana, Cuba"
    />
    <TimeLineElement
      title="IT Services Course"
      subtitle="2009 at Center for Information Technology Studies, Communications and Numbers; La Habana, Cuba"
    />
    <TimeLineElement
      title="Fundamentals and Intermediate of Networks, Linux and Open Office Course"
      subtitle="2011 at Branch Training Center in Computer Science, DESOFT, La Habana, Cuba"
    />
    <TimeLineElement
      title="Chinese Language I and II"
      subtitle="2015 to 2016 at Confucius Institute, University of Havana, Cuba"
    />
    <TimeLineElement
      title="Degree in Information Sciences"
      subtitle="2016 to 2022 at Communication Faculty, University of Havana, Cuba"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."
    />
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."
    />
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <!-- <li>
      <a href="" target="_blank"> Certification Name (with link)</a>
    </li> -->
    <li>
      <a href="https://www.efset.org/cert/1njfJa" target="_blank"> EF SET Standard English Test, C1 Certification (Advanced Level)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Learning capacity</li>
    <li>Self-taught person</li>
    <li>Innovation</li>
    <li>Creativity</li>
    <li>Dynamism.</li>
    <li>Availability</li>
    <li>Adaptability</li>
    <li>Flexibility</li>
    <li>Ability to work in a team and independently</li>
    <li>Capacity for collaboration and commitment</li>
    <li>Orientation to achieve results</li>
    
    
  </ul>
</BaseLayout>
