@page "/currículum-"

<PageTitle>Curriculum</PageTitle>
<RadzenRow Gap="5" RowGap="5">
    <RadzenColumn Size="12" Style="text-align: justify">
        <RadzenText Text="Profile" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
        <RadzenText Text="Intermediate knowledge of Windows client and server operating systems, Linux, Network Technology, Switching and Routing, Office package and OpenOffice, Creation of a Website and CMS Management, Design Theory, Performance Methodologies and SEO optimization."/>
        <RadzenText Text="Configuration and Installation of servers (Implementation of backup copies, RAID, DHCP, DNS, WSUS, Remote Access, Company Active Directory Management, Management of users and permissions, Web Server and Business Cloud, File Server, NFS, SMB)."/>
        <RadzenText Text="Vmware Virtualization (Farm Manager, Creation and Installation of servers, virtual servers, Migration from physical to virtual servers, Resource allocation, Server management ESX/ESXi, Monitoring and Backups)."/>
        <RadzenText Text="Security (Antivirus Solution Management including Kaspersky Endpoint Security and other brands products, Access to shared resources and applications, Management and Monitoring software, Planning and Implementation of strategies to ensure information, Audits of IT security processes, Supervision and Monitoring of the use of information inside and outside the organization, Analysis and detection of threats of security and development of prevention techniques, knowledge and interpretation of regulations of response centers to security incidents, Creation and development of security projects information and communication security, incident management and malware analysis)."/>
        <RadzenText Text="Mobility (Configuration of Smartphones, iPhone, iPad, tablets)."/>
        <RadzenText Text="Communications and Networks (Monitoring and administration of wired and wireless network, antennas, switching, networking, firewalls; LAN, WAN, MPLS, VPN, TCP/IP, FTP, Frame Relay)."/>
        <RadzenText Text="User support (TeamViewer, Anydesk, Remote Desktop, Generating registrations and cancellations, Resolution of hardware and software incidents Layers 1 and 2 on-site and remote; Hardware and software configuration and commissioning, inventory maintenance, review documentation of processes and tasks)."/>
    </RadzenColumn>

    <RadzenColumn Size="12" Style="text-align: justify">
        <RadzenText Text="Education" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
        <RadzenTimeline AlignItems="AlignItems.Center" LinePosition="LinePosition.Alternate" Orientation="Orientation.Vertical" Style="text-align: justify" class="rz-timeline-align-items-center">
            <Items>
                <RadzenTimelineItem PointStyle="PointStyle.Primary" PointSize="PointSize.Small">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2006 to 2009</RadzenText>
                    </LabelContent>
                    <ChildContent>
                        IT Technician at Osvaldo Herrera Technical High School, Havana, Cuba
                    </ChildContent>
                </RadzenTimelineItem>
                <RadzenTimelineItem PointSize="PointSize.Small" PointStyle="Radzen.PointStyle.Secondary">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2009</RadzenText>
                    </LabelContent>
                    <ChildContent>
                        IT Services Course at Center for Information Technology Studies, Communications and Numbers; Havana, Cuba
                    </ChildContent>
                </RadzenTimelineItem>
                <RadzenTimelineItem PointSize="PointSize.Small" PointVariant="Radzen.Variant.Filled" PointStyle="Radzen.PointStyle.Primary">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2011</RadzenText>
                    </LabelContent>
                    <ChildContent>
                        Fundamentals and Intermediate of Networks, Linux and Open Office Course at Branch Training Center in Computer Science, DESOFT, Havana, Cuba
                    </ChildContent>
                </RadzenTimelineItem>
                <RadzenTimelineItem PointSize="PointSize.Small" PointStyle="Radzen.PointStyle.Secondary">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2015 to 2016</RadzenText>
                    </LabelContent>
                    <ChildContent>
                        Chinese Language I and II at Confucius Institute, University of Havana, Cuba
                    </ChildContent>
                </RadzenTimelineItem>
                <RadzenTimelineItem PointSize="PointSize.Small" PointStyle="Radzen.PointStyle.Primary">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2016 to 2022</RadzenText>
                    </LabelContent>
                    <ChildContent>
                        Degree in Information Sciences at Communication Faculty, University of Havana, Cuba
                    </ChildContent>
                </RadzenTimelineItem>
            </Items>
        </RadzenTimeline>
    </RadzenColumn>

    <RadzenColumn Size="12" Style="text-align: justify">
        <RadzenText Text="Experience" TextStyle="TextStyle.H3" TagName="TagName.H1"/>

        <RadzenText Text="IMDT Technician" TextStyle="TextStyle.H5"/>
        <RadzenText Text="From 2009 to 2013 at Technology and Systems Department, MINCOM, Havana, Cuba" TextStyle="TextStyle.H6"/>
        <RadzenText Text="My first work was in a datacenter, involved maintaining and troubleshooting the hardware and software systems that store and process large amounts of data. As a specialist also perform tasks such as installing new equipment, configuring network settings, monitoring performance and security, and updating software. A datacenter I developed strong technical skills, problem-solving abilities, and attention to detail."/>

        <RadzenText Text="Network and Systems Administrator" TextStyle="TextStyle.H5"/>
        <RadzenText Text="From 2013 to 2015 at Metropolitan Bank, attached to the Central Bank of Cuba, Havana, Cuba" TextStyle="TextStyle.H6"/>
        <RadzenText Text="At the bank I was responsible for setting up, managing and troubleshooting the technology systems that the bank uses to operate and serve its customers. Also implement security measures to protect the bank's data and network from cyberattacks. And provide technical support to bank staff and help them use the software and hardware efficiently. Plus keep track of the technology costs and update the systems as needed."/>

        <RadzenText Text="General Systems Technician" TextStyle="TextStyle.H5"/>
        <RadzenText Text="From 2015 to 2017 at Computer Emergency Response Team (CERT), MINCOM, Havana, Cuba" TextStyle="TextStyle.H6"/>
        <RadzenText Text="As a specialist in a CERT, I was responsible for responding to cyber incidents and providing technical support to prevent or mitigate cyber-attacks. Performed tasks such as analyzing malware, conducting digital forensics, monitoring network traffic, managing security tools, and coordinating with other stakeholders."/>

        <RadzenText Text="IT and Communications Specialist" TextStyle="TextStyle.H5"/>
        <RadzenText Text="From 2020 to 2023 at Wealth Management Company, OHC, Havana, Cuba" TextStyle="TextStyle.H6"/>
        <RadzenText Text="I was responsible for creating and managing effective communication strategies that promote the company's services and brand image. Also handle internal and external communications, such as memos, newsletters, press releases, social media posts, and events. I worked closely with senior leadership, marketing professionals, and media outlets to ensure consistent and positive messaging across various platforms."/>

    </RadzenColumn>

    <RadzenColumn Size="12" Style="text-align: justify">
        <RadzenText Text="Certifications" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
        <ul>
            <li>
                <RadzenLink Text="EF SET Standard English Test, C1 Certification (Advanced Level)" Target="https://www.efset.org/cert/1njfJa"></RadzenLink>
            </li>
        </ul>
    </RadzenColumn>

    <RadzenColumn Size="12" Style="text-align: justify">
        <RadzenText Text="Skills" TextStyle="TextStyle.H3" TagName="TagName.H1"/>
    </RadzenColumn>

</RadzenRow>

<RadzenRow Style="text-align: justify" JustifyContent="Radzen.JustifyContent.Center" AlignItems="Radzen.AlignItems.Center">
    <RadzenColumn>
        <RadzenCard Variant="Variant.Flat" Class="rz-my-12 rz-mx-auto">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <ul>
                    <li>Learning capacity</li>
                    <li>Self-taught person</li>
                    <li>Innovation</li>
                    <li>Creativity</li>
                </ul>
            </RadzenStack>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Variant="Variant.Flat" Class="rz-my-12 rz-mx-auto">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <ul>
                    <li>Dynamism.</li>
                    <li>Availability</li>
                    <li>Adaptability</li>
                    <li>Flexibility</li>
                </ul>
            </RadzenStack>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenCard Variant="Variant.Flat" Class="rz-my-12 rz-mx-auto">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <ul>
                    <li>Ability to work in a team and independently</li>
                    <li>Collaborative and committed</li>
                    <li>Resourceful</li>
                    <li>Orientation to achieve results</li>
                </ul>
            </RadzenStack>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>